html, body, div, span, h1, h2, h3, h4, button, h5, h6, p, blockquote, a, pre, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

sup {
  vertical-align: super;
  font-size: smaller; }

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #817c7c;
  background-color: #e0e0e0;
  font: 16px/1.5 "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none;
  color: inherit; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i, em {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  input:focus, textarea:focus {
    border-color: #0099ff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 153, 255, 0.6); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #ddd; }

select, option {
  font-family: inherit; }

pre {
  margin: 0; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 14px !important;
  font-family: "Microsoft YaHei";
  line-height: 2; }

pre {
  background: #f6f6af;
  border-radius: 4px; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal {
  color: #005599;
  font-weight: bold; }

.hljs, .hljs-subst {
  color: #3e5915; }

.hljs-string, .hljs-title, .hljs-section, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-attribute, .hljs-built_in, .hljs-builtin-name, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable, .hljs-link {
  color: #2c009f; }

.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
  color: #e60415; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-doctag, .hljs-title, .hljs-section, .hljs-type, .hljs-name, .hljs-selector-id, .hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

div#app-tip {
  display: none;
  position: fixed;
  z-index: 3;
  top: 60%;
  opacity: 0;
  width: 100%;
  text-align: center; }
  div#app-tip.active {
    display: block;
    animation: tipShow 2500ms;
    -moz-animation: tipShow 2500ms;
    -webkit-animation: tipShow 2500ms;
    -o-animation: tipShow 2500ms;
    -ms-animation: tipShow 2500ms; }
@keyframes tipShow {
  0% {
    top: 100%;
    opacity: 1; }
  10% {
    top: 60%;
    opacity: 1; }
  90% {
    top: 60%;
    opacity: 1; }
  100% {
    top: 60%;
    opacity: 0; } }
@-webkit-keyframes tipShow {
  0% {
    top: 100%;
    opacity: 1; }
  10% {
    top: 60%;
    opacity: 1; }
  90% {
    top: 60%;
    opacity: 1; }
  100% {
    top: 60%;
    opacity: 0; } }
  div#app-tip > div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0; }

.page {
  width: 96%;
  margin: 20px auto 0;
  max-width: 1600px; }
  .page.article {
    background-color: #f8f8f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(10, 10, 0, 0.1) inset; }
    .page.article > div.content figure.common {
      margin: 8px 0; }
      .page.article > div.content figure.common > img {
        display: block;
        margin: 0 auto;
        width: 96%;
        max-width: 800px; }
  .page > h2.title {
    padding: 24px 24px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 32px;
    font-weight: bold; }
  .page > div.content {
    font-size: 18px;
    padding: 15px 20px; }
    .page > div.content p {
      margin-top: 8px;
      line-height: 2;
      text-indent: 36px;
      word-wrap: break-word; }
      .page > div.content p em {
        font-weight: bold; }
      .page > div.content p strong {
        color: #f60;
        font-weight: normal; }
      .page > div.content p i {
        color: #906; }
      .page > div.content p a {
        color: #17579d; }
        .page > div.content p a:hover {
          text-decoration: underline; }
    .page > div.content p.dot {
      color: #f60; }
    .page > div.content ul li {
      list-style: disc inside;
      line-height: 45px;
      padding-left: 36px; }
    .page > div.content button {
      padding: 10px;
      background-color: #f0f0f0;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      margin: 10px 0; }
      .page > div.content button:hover {
        background-color: #e0e0e0;
        color: #6c6c6c; }
    .page > div.content h3.sub-title {
      font-weight: bold;
      color: #f60;
      font-size: 20px;
      line-height: 2;
      margin-top: 15px; }
    .page > div.content h3.title {
      background-color: #e0e0e0;
      color: #f96;
      font-size: 28px;
      border-radius: 6px;
      line-height: 1.5;
      padding: 10px 18px;
      margin-top: 20px;
      font-weight: bold; }
      .page > div.content h3.title:first-child {
        margin-top: 0; }
    .page > div.content pre {
      margin-top: 6px;
      margin-bottom: 4px; }
      .page > div.content pre.inner {
        margin-left: 32px;
        margin-right: 32px; }
      .page > div.content pre.black {
        background: #333;
        border-color: #333; }
        .page > div.content pre.black > code {
          color: #fff; }
          .page > div.content pre.black > code span.hljs-selector-tag, .page > div.content pre.black > code span.hljs-string {
            color: #fff; }
          .page > div.content pre.black > code span.hljs-symbol, .page > div.content pre.black > code span.hljs-built_in, .page > div.content pre.black > code span.hljs-keyword, .page > div.content pre.black > code span.hljs-attribute {
            color: #f66; }
      .page > div.content pre > code {
        padding: 15px 36px; }
  .page > div.topic-title {
    line-height: 1.5;
    font-size: 28px;
    padding: 15px 18px;
    background: #fafafa;
    border-radius: 6px;
    margin-bottom: 20px; }
  .page > ul.article-list {
    position: relative;
    padding: 0 0 0 40px;
    background-color: #e0e0e0; }
    .page > ul.article-list:before {
      content: "";
      position: absolute;
      top: 25px;
      bottom: 0;
      width: 4px;
      left: 12px;
      background: #fff; }
    .page > ul.article-list > li {
      position: relative;
      padding: 20px 20px 10px;
      margin-bottom: 25px;
      background-color: #fff;
      cursor: pointer;
      border-radius: 6px;
      -webkit-filter: drop-shadow(0px 0px 4px rgba(250, 0, 0, 0));
              filter: drop-shadow(0px 0px 4px rgba(250, 0, 0, 0));
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transition: -webkit-transform 0.4s ease-out, -webkit-filter 0.5s;
      transition: -webkit-transform 0.4s ease-out, -webkit-filter 0.5s;
      transition: transform 0.4s ease-out, filter 0.5s;
      transition: transform 0.4s ease-out, filter 0.5s, -webkit-transform 0.4s ease-out, -webkit-filter 0.5s; }
      .page > ul.article-list > li:last-child {
        margin-bottom: 10px; }
      .page > ul.article-list > li > h4 {
        margin-bottom: 2px; }
      .page > ul.article-list > li > h3 {
        padding: 8px;
        font-size: 24px;
        color: #f96;
        background-color: #eee;
        border-radius: 6px;
        line-height: 1.4;
        margin-bottom: 2px; }
      .page > ul.article-list > li > div:nth-of-type(1) {
        font-size: 18px;
        line-height: 1.7;
        padding: 8px 0; }
      .page > ul.article-list > li:hover {
        -webkit-filter: drop-shadow(0px 0px 4px rgba(250, 0, 0, 0.5));
                filter: drop-shadow(0px 0px 4px rgba(250, 0, 0, 0.5));
        -webkit-transform: translateY(-3px);
                transform: translateY(-3px); }
      .page > ul.article-list > li:before, .page > ul.article-list > li:after {
        content: "";
        position: absolute; }
      .page > ul.article-list > li:after {
        width: 14px;
        height: 14px;
        left: -7px;
        top: 25px;
        background: #fff;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .page > ul.article-list > li:before {
        width: 16px;
        height: 16px;
        left: -34px;
        top: 25px;
        background: #f96;
        border-radius: 50%; }
  .page > footer {
    text-align: right;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #dbdbdb;
    padding: 0 20px; }
  .page > ul.comments {
    background: #f8f8f8; }
    .page > ul.comments > li {
      padding: 15px 20px;
      background: #fafafa;
      border-bottom: 1px dotted #dfdfdf; }
      .page > ul.comments > li:last-child {
        border-bottom-color: transparent; }
      .page > ul.comments > li > div:nth-of-type(1), .page > ul.comments > li > div:nth-of-type(4) {
        line-height: 1.5;
        margin-bottom: 8px;
        font-size: 15px; }
        .page > ul.comments > li > div:nth-of-type(1) > span, .page > ul.comments > li > div:nth-of-type(4) > span {
          margin-right: 12px; }
        .page > ul.comments > li > div:nth-of-type(1) > a, .page > ul.comments > li > div:nth-of-type(4) > a {
          float: right;
          margin-right: 2px;
          text-decoration: underline;
          cursor: pointer; }
          .page > ul.comments > li > div:nth-of-type(1) > a:hover, .page > ul.comments > li > div:nth-of-type(4) > a:hover {
            color: #f60; }
          .page > ul.comments > li > div:nth-of-type(1) > a.reply, .page > ul.comments > li > div:nth-of-type(4) > a.reply {
            margin-right: 10px; }
      .page > ul.comments > li > div:nth-of-type(2) {
        margin-bottom: 8px; }
        .page > ul.comments > li > div:nth-of-type(2) > a {
          color: #f60; }
          .page > ul.comments > li > div:nth-of-type(2) > a:hover {
            text-decoration: underline; }
      .page > ul.comments > li > div:nth-of-type(3), .page > ul.comments > li > div:nth-of-type(5) {
        line-height: 1.8;
        border-radius: 4px;
        padding: 8px;
        background: #e0e0e0; }
      .page > ul.comments > li > div:nth-of-type(4) {
        margin-top: 10px; }
      .page > ul.comments > li > div:nth-of-type(5) {
        position: relative;
        margin-left: 36px; }
    .page > ul.comments.all > li {
      border-bottom: 1px solid #dbdbdb; }
      .page > ul.comments.all > li:last-child {
        border-bottom-width: 0; }

.page-404 {
  background: #fff;
  padding: 110px 0 150px; }
  .page-404 > p {
    text-align: center; }
    .page-404 > p:nth-of-type(1) {
      font-weight: bolder;
      font-size: 60px;
      line-height: 2; }
    .page-404 > p:nth-of-type(2) {
      line-height: 2; }
      .page-404 > p:nth-of-type(2) > a:hover {
        color: #ff006a; }

@media screen and (max-width: 720px) {
  .page {
    width: 98%; }
    .page > h2.title {
      padding-left: 12px; } }
@media screen and (max-width: 530px) {
  .page > ul.article-list {
    padding-left: 35px; }
    .page > ul.article-list > li {
      padding: 15px 15px 7px; }
      .page > ul.article-list > li:before {
        left: -30px; }
  .page > div.content {
    padding-left: 15px;
    padding-right: 15px; }
    .page > div.content pre.inner {
      margin-left: 0;
      margin-right: 0; }
    .page > div.content pre > code {
      padding: 15px 18px; }
  .page > ul.comments > li {
    padding: 12px; } }
@media screen and (max-width: 402px) {
  .page > ul.article-list > li {
    padding: 12px 12px 6px; }
  .page > div.content {
    padding-left: 10px;
    padding-right: 10px; }
    .page > div.content pre > code {
      padding: 15px; } }
@media screen and (max-width: 359px) {
  .page > ul.article-list > li {
    padding: 10px 10px 5px; }
  .page > div.content {
    padding-left: 6px;
    padding-right: 6px; }
    .page > div.content pre > code {
      padding: 8px; } }
