.app-menu {
    flex: 0 0 220px;
    width: 220px;
    height: 100%;
    background: #fefefe;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 15px 0 rgba(35,52,75,0.1);
    margin-left: 0;
    transition: margin-left 0.3s ease-out;
    &.hide-menu{
        margin-left: -220px;
    }
    >li{
        // border-bottom: 1px solid #f0f0f0;
        position: relative;
        margin: 10px 0;
        >ul{
            overflow: hidden;
            transition: height 0.35s ease-out;
            >li:last-child{
                >div{
                    border-bottom: 1px solid #f5f5f5;
                }
            }
        }
        &.opened{
            >ul{
                margin-top: 10px;
            }
        }
    }
}
.app-menu::-webkit-scrollbar{
    width:0;
}
.app-menu-item{
    position: relative;
    display: flex;
    align-items: center;
    color: #6d6d6d;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    overflow: hidden;
    &:hover, &.active{
        background: lighten(#373277, 50%);
        color: #373277;
        border-bottom-color: #fdd;
    }
    &:after{
        content: "";
        position: absolute;
        display: block;
        width: 0%;
        height: 1px;
        background: #373277;
        left: 0;
        bottom: 0;
        transition: width 0.5s ease-out;
    }
    &.main-menu{
        height: 46px;
        font-size: 18px;
        font-weight: 500;
        background: #f0f0f0;
        border-radius: 28px;
        margin: 0 10px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
        &:before{
            width: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #999;
            padding-left: 4px;
            box-sizing: border-box;
        }
        &:after{
            display: none;
        }
        &:hover, &.active{
            transform: translateX(3px);
            background: lighten(#373277, 50%);
            box-shadow: 1px 1px 1px 0px rgba(255,221,221,0.2);
            &:before{
                color: #373277;
            }
        }
    }
    &.sub-menu{
        height: 45px;
        font-size: 16px;
        border-top: 1px solid #efefef;
        padding-left: 35px;
        &:before{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ddd;
            margin-right: 13px;
        }
        &:hover, &.active{
            border-top-color: #fdd;
            &:before{
                background: #373277;
            }
            &:after{
                width: 100%;
            }
        }
    }
    >span{
        flex: 1;
    }
    div,i{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >div{
        width: 40px;
        height: 100%;
        flex: none;
        &:hover{
            background: #ffcccc;
        }
    }
    i{
        font-size: 12px;
        transition: transform 0.3s;
        &:before{
            content: '\e90e';
        }
        &.arrow-up{
            transform: rotate(-90deg);
        }
        &.arrow-down{
            transform: rotate(90deg);
        }
    }
}