.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 15;
    transition: opacity .15s linear;
    >div{
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        transform: translate(0, -15%);
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.15s linear;
        z-index: 3;
        &.active{
            opacity: 1;
            transform: translate(0, 15%);
        }
        &.moved{
            position: absolute !important;
        }
    }
    &.active{
        display: block;
    }
}
.modal-header{
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .15);
    background: linear-gradient(to right, #fea171, #fd7475);
    cursor: pointer;
    &.draging{
        cursor: move;
    }
    > span {
        position: absolute;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease-out;
        &:hover{
            text-shadow: 0 0 30px #000;
        }
    }
}
.modal-content{
    padding: 15px 12px;
}
.modal-footer{
    display: flex;
    height: 60px;
    align-items: center;
    border-top: 1px solid #ddd;
    >a {
        display: block;
        height: 36px;
        line-height: 34px;
        padding: 0 16px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 15px;
        border: 1px solid #646f86;
        transition: all 0.3s ease-out;
    }
    >span.modal-tip{
        color: #f66;
        padding-left: 10px;
        flex: 1;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease-out;
        &.active{
            opacity: 1;
            transform: translateY(0px)
        }
    }
}
a.modal-ok-btn {
    background-color: rgba(100,111,134,.8);
    border-color: rgba(100,111,134,.8);
    color: #fff;
    &:hover {
        background-color: #646f86;
        border-color: #646f86;
    }
}
a.modal-cancel-btn {
    background-color: #fff;
    color: #646f86;
    &:hover{
        background-color: #e8ecf5;
    }
}
.modal-form{
    background: #f0f0f0;
    border-radius: 4px;
    padding: 15px 15px 5px;
}
.modal-confirm{
    font-size: 15px;
    padding: 20px 10px;
    strong{
        color: #f66;
        font-weight: bold;
        margin: 0 5px;
    }
}
@media screen and (max-height: 768px) {
    .modal{
        >div{
            &.active{
                transform: translate(0, 8%);
            }
        }
    }
}
