.search-input{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    .input-box{
        position: relative;
        width: 300px;
        height: 36px;
        margin-right: 12px;
        padding-left: 30px;
        padding-right: 25px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.08);
        //background: #fff url('../../assets/images/common/search.png') 8px 8px/18px 18px no-repeat;
        &.focus{
            border-color: #fea171 !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 161, 113, 0.6) !important;
        }
        >input{
            width: 100%;
            height: 16px;
            font-size: 16px;
            margin: 9px 0;
            border: 0;
            border-radius: 0;
            line-height: initial;
            color: #4a4a4a;
            &:focus{
                border-color: initial!important;
                box-shadow: initial!important;
            }
        }
        >i.icon-search{
            position: absolute;
            left: 10px;
            top: 50%;
            font-size: 14px;
            margin-top: -.5em;
            color: #999;
        }
        >i.icon-close-fill{
            position: absolute;
            right: 5px;
            top: 50%;
            font-size: 18px;
            margin-top: -.5em;
            color: #999;
        }
    }

    button.search{
        width: 60px;
        height: 36px;
        line-height: 36px;
        background-color: rgba(100,111,134,.8);
        border-color: rgba(100,111,134,.8);
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        &:hover {
            background-color: #646f86;
            border-color: #646f86;
        }
    }
}
