html,body, #app{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#app{
    background: #f0f0f0;
}
.psv-custom-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.psv-custom-button i.back-icon{
    display: block;
    width: 22px;
    height: 22px;
    background: url('../assets/back.png');
    background-size: 100% 100%;
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
    transition: transform 0.2s ease;
}
.psv-custom-button:hover i.back-icon{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#back-button{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.2%;
    left: 2.5%;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.12);
}
#back-button:before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url('../assets/back-button.png');
    background-size: 100% 100%;
}
