@mixin shadow {
    box-shadow: 0 0 15px 0 rgba(35, 52, 75, 0.1);
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin sl() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin slh($line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: block-axis;
    word-break: break-all;
}

@mixin img($url,$size: 100% 100%){
    -webkit-background-size:$size;
    -moz-background-size:$size;
    -o-background-size:$size;
    background-size:$size;
    background-image: url($url);
    background-repeat: no-repeat;
}

@function px2rem($num){
    @return $num / 1px / 36 * 1rem;
}
