@import '../common/mixin.scss';
#product-page{
    position: relative;
    width: 100%;

    // PC端
    @media screen and (min-width:900px){
        .container{
            width: 1200px;
            margin: 0 auto;
        }
        p.item-describe{
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }
        .item-banner{
            .item-img{
                width: 100%;
                height: 500px;
                background-image: url("../assets/images/product/banner.png")
            }
        }
        .item-navigation{
            margin-top: -47px;
            height: 47px;
            line-height: 47px;
            z-index: 99;
            background-color: rgba(0, 0, 0, .2);
            text-align: center;
            position: relative;
            transition: all .3s ease-out;
            >ul{
                >li{
                    display: inline-block;
                    padding: 0 30px;
                    font-size: 17px;
                    cursor: pointer;
                    color: #fff;
                    position: relative;
                    &.active{
                        color: #5e9dfa;
                        &:before{
                            content: "";
                            width: 90px;
                            height: 4px;
                            background-color: #5e9dfa;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -45px;
                        }
                    }
                }
            }
        }
        div.item-nav{
            position: fixed;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            top: 47px;
            z-index: 999;
            background-color: #fff;
            >ul{
                >li{
                    color: #3b3b3b;
                }
            }
        }
        .item-title{
            font-size: 30px;
            text-align: center;
            line-height: 120px;
            padding-top: 30px;
        }
        .item-fans{
            height: 633px;
            >.item-content{
                display: flex;
                >div{
                    flex: 1;
                    >div{
                        >.title{
                            font-size: 22px;
                            line-height: 55px;
                            color: #222222;
                        }
                        >.describe{
                            font-size: 16px;
                            line-height: 30px;
                        }
                        &:nth-of-type(2){
                            margin-top: 50px;
                        }
                    }
                }
            }
        }

        .item-activity{
            height: 939px;
            background-color: #f6f7fa;
            .item-activity-navigation{
                margin-top: 50px;
                >ul{
                    height: 130px;
                    line-height: 160px;
                    position: relative;
                    padding: 0 6px;
                    >li{
                        display: inline-block;
                        padding: 0 44px;
                        font-size: 15px;
                        color: #666666;
                        position: relative;
                        margin-left: 40px;
                        &:nth-of-type(1){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_paid.png")
                        }
                        &:nth-of-type(2){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_coupon.png")
                        }
                        &:nth-of-type(3){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_rob.png")
                        }
                        &:nth-of-type(4){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_luckyWheel.png")
                        }
                        &:nth-of-type(5){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_inviteGift.png")
                        }
                        &:nth-of-type(6){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_clubActivity.png")
                        }
                        &:nth-of-type(7){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_pay_gift.png")
                        }
                        &:nth-of-type(8){
                            width: 100px;
                            height: 100px;
                            background-image: url("../assets/images/product/icon_group.png")
                        }
                    }
                }
                >div{
                    display: flex;
                    >div{
                        flex: 1;
                        margin: 0 32px;
                        position: relative;
                        line-height: 850px;
                        text-align: center;
                        >p{
                            position: absolute;
                            bottom: 0;
                        }
                        &:nth-of-type(1){
                            width: 236px;
                            height: 404px;
                            @include img("../assets/images/product/img_coupon.png",100% 100%);
                        }
                        &:nth-of-type(2){
                            width: 236px;
                            height: 404px;
                            @include img("../assets/images/product/img_journal.png",100% 100%);
                        }
                        &:nth-of-type(3){
                            width: 236px;
                            height: 404px;
                            @include img("../assets/images/product/img_luckyWheel.png",100% 100%);
                        }
                        &:nth-of-type(4){
                            width: 236px;
                            height: 404px;
                            @include img("../assets/images/product/icon_tech.png",100% 100%);
                        }
                    }
                }
            }

            >.item-coupon{
                display: flex;
                padding-top: 55px;
                padding-left: 55px;
                >div{
                    flex: 1;
                    >div{
                        line-height: 35px;
                        >span{
                            font-size: 20px;
                            float: left;
                            color: #222222;
                        }
                        >p{
                            width: 425px;
                            font-size: 16px;
                            color: #727272;
                            display: inline-block;
                            letter-spacing: 1px;
                        }
                    }
                    &:nth-of-type(2){
                        margin-left: 55px;
                    }
                }
            }
        }

        .item-service{
            height: 836px;
            background-color: #ffffff;
            >.item-img{
                text-align: center;
                padding-top: 60px;
            }
        }

        .item-guest{
            height: 800px;
            background-color: #f6f7fa;
            >.item-content{
                display: flex;
                color: #000;
                padding-top: 80px;
                >div{
                    flex: 1;
                    height: 410px;
                    margin: 20px 10px;
                    transition: all .3s ease-out;
                    >div{
                        background-color: #fff;
                        height: 100%;
                        z-index: 111;
                        padding: 30px 35px;
                        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
                        >.item-img{
                            width: 94px;
                            height: 108px;
                            line-height: 108px;
                            margin: 0 auto;
                            text-align: center;
                            color: #fff;
                            font-size: 30px;
                            background-image: url("../assets/images/product/guest_01.png")
                        }
                        >.item-sub-title{
                            color: #333333;
                            text-align: center;
                            line-height: 60px;
                            font-size: 18px;
                            border-bottom: 1px solid #e0e0e0;
                        }
                        >.item-text{
                            text-align: justify;
                            padding-top: 20px;
                            font-size: 15px;
                            color: #999999;
                        }
                    }
                    &:hover{
                        background-color: #5e9dfa;
                        color: #fff;
                        -webkit-transform: scale(1.05);
                        >div{
                            background-color:transparent;
                            box-shadow: 0 0 15px 1px transparent;
                            >.item-img{
                                color: #5e9dfa;
                                background-image: url("../assets/images/product/guest_01_active.png")
                            }
                            >.item-sub-title{
                                color: #fff;
                            }
                            >.item-text{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .item-member{
            height: 877px;
            background-color: #fff;
            >.item-img{
                width: 100%;
                height: 621px;
                background-position: center;
                background-image: url("../assets/images/product/member_01.png");
                background-size: 100% 621px;
                position: relative;
                margin-top: 40px;
            }
            >.item-icon{
                position: relative;
                margin-top: -170px;
                display: flex;
                z-index: 9;
                >.item-rect{
                    flex: 1;
                    text-align: center;
                    >p{
                        width: 138px;
                        height: 138px;
                        border: 1px solid #cee2ff;
                        border-radius: 100%;
                        position: relative;
                        display: inline-block;
                        background-color: #fff;
                        >i{
                            width: 110px;
                            height: 110px;
                            display: inline-block;
                            border: 1px solid #6aa4fa;
                            border-radius: 100%;
                            position: absolute;
                            top: 50%;
                            margin-top: -55px;
                            left: 50%;
                            margin-left: -55px;
                            >i{
                                width: 88px;
                                height: 88px;
                                display: inline-block;
                                background-color: #5e9dfa;
                                border-radius: 100%;
                                position: absolute;
                                top: 50%;
                                margin-top: -44px;
                                left: 50%;
                                margin-left: -44px;
                                &:before{
                                    content: "";
                                    width: 36px;
                                    height: 36px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    margin-left: -18px;
                                    margin-top: -18px;
                                    background-image: url("../assets/images/product/icon_pay.png");
                                }
                            }
                        }
                    }
                    >div{
                        width: 197px;
                        height: 105px;
                        border-radius: 3px;
                        border: 1px solid #c3c3c3;
                        position: relative;
                        margin: 0 auto;
                        background-color: #fff;
                        padding: 0 5px;
                        margin-top: 10px;
                        >div{
                            &:nth-of-type(1){
                                color: #222222;
                                font-size: 22px;
                                line-height: 40px;
                            }
                            &:nth-of-type(2){
                                color: #737373;
                            }
                        }
                        &:before{
                            content: "";
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            border-left: 1px solid #c3c3c3;
                            border-bottom: 1px solid #c3c3c3;
                            transform: rotate(135deg);
                            left: 50%;
                            margin-left: -5px;
                            top: -6px;
                            background-color: #fff;
                        }
                    }
                    &:nth-of-type(1){
                        margin-top: -220px;
                        margin-left: -70px;
                    }
                    &:nth-of-type(2){
                        margin-top: -155px;
                        margin-left: 0px;
                        >p>i>i{
                            &:before{
                                width: 38px;
                                height: 32px;
                                margin-top: -16px;
                                background-image: url("../assets/images/product/vip.png");
                            }
                        }
                    }
                    &:nth-of-type(3){
                        margin-top: -220px;
                        margin-right: -75px;
                        >p>i>i{
                            &:before{
                                width: 33px;
                                height: 40px;
                                margin-top: -20px;
                                margin-left: -16px;
                                background-image: url("../assets/images/product/integral.png");
                            }
                        }
                    }
                }
            }
        }

        .item-marketing{
            height: 820px;
            background-color: #f6f7fa;
            >.item-content{
                padding-top: 10px;
                >div{
                    display: inline-block;
                    &:nth-of-type(1){
                        font-size: 20px;
                        color: #767778;
                        line-height: 40px;
                        padding-top: 220px;
                        >p{
                            &:before{
                                content: "";
                                width: 42px;
                                height: 42px;
                                display: inline-block;
                                vertical-align: middle;
                                background-image: url("../assets/images/product/icon_mark_01.png")
                            }
                            &:nth-of-type(2){
                                &:before{
                                    background-image: url("../assets/images/product/icon_mark_02.png")
                                }
                            }
                            &:nth-of-type(3){
                                &:before{
                                    background-image: url("../assets/images/product/icon_mark_03.png")
                                }
                            }
                        }
                    }
                    &:nth-of-type(2){
                        float: right;
                        width: 862px;
                        height: 561px;
                        background-image: url("../assets/images/product/marke.png");
                    }
                }
            }
        }

        div.item-integral{
            height: 752px;
            background-color: #fff;
            >.item-content{
                display: flex;
                padding-top: 90px;
                >div{
                    flex: 1;
                    padding: 0 64px;
                    >div{
                        margin: 0 auto;
                        &:nth-of-type(1){
                            width: 310px;
                            height: 214px;
                            background-image: url("../assets/images/product/intergral_03.png")
                        }
                        &:nth-of-type(2){
                            width: 260px;
                            display: inline-block;
                            text-align: center;
                            font-size: 22px;
                            color: #222222;
                            line-height: 70px;
                        }
                    }
                    >p{
                        text-align: justify;
                        font-size: 16px;
                        color: #666666;
                    }
                    &:nth-of-type(2){
                        >div{
                            &:nth-of-type(1){
                                width: 272px;
                                height: 222px;
                                background-image: url("../assets/images/product/intergral_01.png")
                            }
                            &:nth-of-type(2){
                                width: 205px;
                            }
                        }
                    }
                    &:nth-of-type(3){
                        >div{
                            &:nth-of-type(1){
                                width: 258px;
                                height: 222px;
                                background-image: url("../assets/images/product/intergral_02.png")
                            }
                            &:nth-of-type(2){
                                width: 205px;
                            }
                        }
                    }
                }
            }
        }

        div.item-system{
            height: 739px;
            background-color: #f6f7fa;
            position: relative;
            >.item-input{
                width: 479px;
                height: 48px;
                margin: 0 auto;
                margin-top: 70px;
                background-image: url("../assets/images/product/input_03.png")
            }
            >.item-bottom-bg{
                width: 1196px;
                height: 340px;
                margin: 0 auto;
                margin-top: 60px;
                background-image: url("../assets/images/product/bg.png");
                position: absolute;
                left: 50%;
                margin-left: -598px;
                bottom: 0;
            }
        }

        div.item-serve{
            height: 613px;
            background-color: #fff;
            padding-top: 40px;
            >.item-content{
                margin-top: 50px;
                >div{
                    width: 578px;
                    height: 220px;
                    display: inline-block;
                    text-align: left;
                    &:nth-of-type(1){
                        background-image: url("../assets/images/product/icon_02.png");
                        margin-right: 35px;
                        padding-left: 290px;
                        >div{
                            font-size: 23px;
                            color: #2b74fb;
                            margin-top: 35px;
                            letter-spacing: 1px;
                        }
                        >p{
                            color: #384151;
                            font-size: 18px;
                            line-height: 35px;
                            &:nth-of-type(1){
                                margin-top: 20px;
                            }
                        }
                    }
                    &:nth-of-type(2){
                        background-image: url("../assets/images/product/icon_03.png");
                        padding-left: 290px;
                        >div{
                            font-size: 23px;
                            color: #2b74fb;
                            margin-top: 35px;
                            letter-spacing: 1px;
                        }
                        >p{
                            color: #384151;
                            font-size: 18px;
                            line-height: 35px;
                            &:nth-of-type(1){
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    // 移动端
    div.mobile{
        background-color: #f4f4f4;
        color: #666666;

        .m-container{
            background-color: #fff;
            border-bottom: px2rem(1px) solid #e0e0e0;
            padding: 0 px2rem(20px);
        }
        div.m-item-title{
            padding-top: px2rem(20px);
            padding-bottom: px2rem(20px);
            color: #4d4d4d;
            font-size: px2rem(34px);
            &:before{
                content: "";
                width: px2rem(5px);
                height: px2rem(30px);
                display: inline-block;
                vertical-align: middle;
                background-color: #5e9dfa;
            }
        }

        .m-item-describe{
            background-color: #fff;
            padding: px2rem(40px);
            text-align: center;
            font-size: px2rem(33px);
            color: #4d4d4d;
            letter-spacing: 0.1rem;
        }

        >div.m-item-banner{
            .m-item-img{
                width: 100%;
                height: px2rem(380px);
                @include img("../assets/images/product/m_banner.png",100% 100%);
            }
        }

        >.m-item-nav{
            >div{
                display: flex;
                border-top: px2rem(2px) solid #e0e0e0;
                border-bottom: px2rem(2px) solid #e0e0e0;
                margin-top: px2rem(20px);
                >div{
                    flex: 1;
                    padding: px2rem(20px) 0;
                    text-align: center;
                    color: #000000;
                    border-right: px2rem(2px) solid #e0e0e0;
                    font-size: px2rem(33px);
                    background-color: #fff;
                    &:last-child{
                        border-right: transparent;
                    }
                    &.active{
                        color: #fff;
                        background-color: #5e9dfa;
                    }
                }
                &:last-child{
                    >div{
                        border-right: px2rem(2px) solid transparent;
                        &:nth-of-type(1){
                            border-right: px2rem(2px) solid #e0e0e0;
                        }
                    }
                }
            }
        }

        >.m-item-fans{
            margin-top: px2rem(20px);
            background-color: #fff;
            >.m-item-describe{
                >.m-item-img{
                    width: px2rem(630px);
                    height: px2rem(365px);
                    margin: auto;
                    @include img("../assets/images/product/m-fans.png",100% 100%);
                }
            }
            >.m-item-content{
                width: px2rem(800px);
                text-align: center;
                margin: auto;
                border: px2rem(2px) solid #e0e0e0;
                padding: px2rem(20px) 0;
                border-radius: 0.2rem;
                margin-bottom: px2rem(30px);
                >div{
                    &:nth-of-type(1){
                        font-size: px2rem(35px);
                        color: #000;
                        line-height: 2rem;
                    }
                    &:nth-of-type(2){
                        color: #b0b0b0;
                    }
                }
            }
        }

        >.m-item-activity{
            background-color: #fff;
            >.m-item-img{
                >ul{
                    width: px2rem(792px);
                    margin: auto;
                    >li{
                        width: px2rem(150px);
                        height: px2rem(150px);
                        display: inline-block;
                        // font-size: 15px;
                        color: #666666;
                        position: relative;
                        border-radius: 100%;
                        border: px2rem(2px) solid #cce1ff;
                        margin: 0 px2rem(20px);
                        &:nth-of-type(1){
                            @include img("../assets/images/product/icon_paid.png",100% 100%);
                        }
                        &:nth-of-type(2){
                            @include img("../assets/images/product/icon_coupon.png",100% 100%);
                        }
                        &:nth-of-type(3){
                            @include img("../assets/images/product/icon_rob.png",100% 100%);
                        }
                        &:nth-of-type(4){
                            @include img("../assets/images/product/icon_luckyWheel.png",100% 100%);
                        }
                        &:nth-of-type(5){
                            @include img("../assets/images/product/icon_inviteGift.png",100% 100%);
                        }
                        &:nth-of-type(6){
                            @include img("../assets/images/product/icon_clubActivity.png",100% 100%);
                        }
                        &:nth-of-type(7){
                            @include img("../assets/images/product/icon_pay_gift.png",100% 100%);
                        }
                        &:nth-of-type(8){
                            @include img("../assets/images/product/icon_group.png",100% 100%);
                        }
                    }
                }
                >div{
                    width: px2rem(780px);
                    margin: auto;
                    padding-bottom: px2rem(35px);
                    >div{
                        width: px2rem(344px);
                        height: px2rem(596px);
                        line-height: px2rem(1280px);
                        display: inline-block;
                        margin: 0 px2rem(20px);
                        text-align: center;
                        &:nth-of-type(1){
                            @include img("../assets/images/product/img_coupon.png",100% 100%);
                        }
                        &:nth-of-type(2){
                            @include img("../assets/images/product/img_journal.png",100% 100%);
                        }
                        &:nth-of-type(3){
                            margin-top: px2rem(35px);
                            @include img("../assets/images/product/img_luckyWheel.png",100% 100%);
                        }
                        &:nth-of-type(4){
                            margin-top: px2rem(35px);
                            @include img("../assets/images/product/icon_tech.png",100% 100%);
                        }
                    }
                }
            }
        }

        >.m-item-guest{
            margin-top: px2rem(20px);
            >.m-item-describe{
                border-bottom: px2rem(1px) solid #e0e0e0;
            }
            >.m-item-content{
                background-color: #fff;
                padding: 0 px2rem(20px) px2rem(130px);
                >div{
                    display: flex;
                    padding: px2rem(40px) 0;
                    border-bottom: px2rem(1px) solid #e0e0e0;
                    >div{
                        &:nth-of-type(1){
                            >div{
                                width: px2rem(140px);
                                height: px2rem(160px);
                                line-height: px2rem(160px);
                                text-align: center;
                                color: #fff;
                                flex: 1;
                                font-size: px2rem(37px);
                                @include img("../assets/images/product/guest_01.png",100% 100%);
                            }
                        }
                        &:nth-of-type(2){
                            flex: 4;
                            margin-left: px2rem(25px);
                            font-size: px2rem(35px);
                            color: #333333;
                            >p{
                                font-size: px2rem(32px);
                                margin-top: px2rem(10px);
                                text-align: justify;
                                color: #999999;
                            }
                        }
                    }
                }
            }
        }

        >.m-item-service{
            background-color: #fff;
            margin-top: px2rem(20px);
            >.m-item-img{
                padding-bottom: px2rem(160px);
                >div{
                    width: px2rem(642px);
                    height: px2rem(680px);
                    line-height: px2rem(1450px);
                    text-align: center;
                    margin: auto;
                    position: relative;
                    &:before{
                        content: "";
                        width: px2rem(13px);
                        height: px2rem(14px);
                        position: absolute;
                        background-color: #5e9dfa;
                        border-radius: 100%;
                        bottom: px2rem(-54px);
                        left: px2rem(105px);
                    }
                    &:nth-of-type(1){
                        @include img("../assets/images/product/m_service_01.png",100% 100%);
                    }
                    &:nth-of-type(2){
                        margin-top: px2rem(120px);
                        @include img("../assets/images/product/m_service_02.png",100% 100%);
                    }
                    
                }
            }
        }

        >.m-item-member{
            margin-top: px2rem(20px);
            background-color: #fff;
            >.m-item-describe{
                border-bottom: px2rem(1px) solid #e0e0e0;
            }
            >.m-item-img{
                position: relative;
                >div{
                    &:nth-of-type(1){
                        width: 100%;
                        height: 20rem;
                        margin: auto;
                        @include img("../assets/images/product/m-member-01.png",100% 100%);
                    }
                    &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
                        >p{
                            width: px2rem(180px);
                            height: px2rem(180px);
                            border: px2rem(2px) solid #cee2ff;
                            border-radius: 100%;
                            position: relative;
                            background-color: #fff;
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            >i{
                                width: px2rem(152px);
                                height: px2rem(152px);
                                border: px2rem(2px) solid #6aa4fa;
                                border-radius: 100%;
                                position: relative;
                                >i{
                                    width: px2rem(130px);
                                    height: px2rem(130px);
                                    display: inline-block;
                                    background-color: #5e9dfa;
                                    border-radius: 100%;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    margin-top: px2rem(-65px);
                                    margin-left: px2rem(-65px);
                                    &:before{
                                        content: "";
                                        width: px2rem(36px);
                                        height: px2rem(36px);
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        margin-left: px2rem(-18px);
                                        margin-top: px2rem(-18px);
                                        @include img("../assets/images/product/icon_pay.png",100% 100%);
                                    }
                                }
                            }
                        }
                        >div{
                            width: px2rem(550px);
                            height: px2rem(180px);
                            text-align: center;
                            border-radius: px2rem(3px);
                            border: px2rem(2px) solid #c3c3c3;
                            position: relative;
                            background-color: #fff;
                            padding: 0 px2rem(5px);
                            margin: auto;
                            margin-top: px2rem(30px);
                            &:before{
                                content: "";
                                width: px2rem(15px);
                                height: px2rem(15px);
                                position: absolute;
                                border-left: px2rem(2px) solid #c3c3c3;
                                border-bottom: px2rem(2px) solid #c3c3c3;
                                -webkit-transform: rotate(135deg);
                                transform: rotate(135deg);
                                left: 50%;
                                margin-left: px2rem(-5px);
                                top: px2rem(-10px);
                                background-color: #fff;
                            }
                        }
                    }
                    &:nth-of-type(2){
                        margin-top: px2rem(-205px);
                    }
                    &:nth-of-type(3){
                        margin-top: px2rem(50px);
                        >p>i>i{
                            &:before{
                                width: px2rem(38px);
                                height: px2rem(32px);
                                margin-left: px2rem(-19px);
                                margin-top: px2rem(-16px);
                                @include img("../assets/images/product/vip.png",100% 100%);
                            }
                        }
                    }
                    &:nth-of-type(4){
                        margin-top: px2rem(50px);
                        >p>i>i{
                            &:before{
                                width: px2rem(43px);
                                height: px2rem(50px);
                                margin-left: px2rem(-21px);
                                margin-top: px2rem(-25px);
                                @include img("../assets/images/product/integral.png",100% 100%);
                            }
                        }
                    }
                }
            }
        }
    }
}