@import "mixin.scss";
@import 'reset.scss';
@import 'highlight.scss';

div#app-tip{
  display: none;
  position: fixed;
  z-index: 3;
  top: 60%;
  opacity: 0;
  width: 100%;
  text-align: center;
  &.active{
    display: block;
    @include dhz(tipShow,2500ms);
    @at-root {
      @keyframes tipShow{
        0%{
          top:100%;
          opacity:1;
        }
        10%{
          top:60%;
          opacity:1;
        }
        90%{
          top:60%;
          opacity:1;
        }
        100%{
          top:60%;
          opacity:0;
        }
      }
      @-moz-keyframes tipShow{
        0%{
          top:100%;
          opacity:1;
        }
        10%{
          top:60%;
          opacity:1;
        }
        90%{
          top:60%;
          opacity:1;
        }
        100%{
          top:60%;
          opacity:0;
        }
      }
      @-webkit-keyframes tipShow{
        0%{
          top:100%;
          opacity:1;
        }
        10%{
          top:60%;
          opacity:1;
        }
        90%{
          top:60%;
          opacity:1;
        }
        100%{
          top:60%;
          opacity:0;
        }
      }
      @-o-keyframes tipShow{
        0%{
          top:100%;
          opacity:1;
        }
        10%{
          top:60%;
          opacity:1;
        }
        90%{
          top:60%;
          opacity:1;
        }
        100%{
          top:60%;
          opacity:0;
        }
      }
    }
  }
  >div{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    font-size:18px;
    background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
  }
}

.page{
  width:96%;
  margin:20px auto 0;
  max-width: 1280px;
  &.article{
    background-color: #fafafa;
  }
  >h2.title{
    padding:20px 24px;
    border-bottom:1px solid #dbdbdb;
    font-size:32px;
  }
  >div.content{
    font-size:18px;
    padding:15px 20px;
    p{
      margin-top:8px;
      line-height: 2;
      text-indent: 36px;
      word-wrap: break-word;
      em{
        font-weight: bold;
      }
      strong{
        color:#f60;
        font-weight: normal;
      }
      a{
        color:#17579d;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    p.dot{
      color:#f60;
    }
    ul{
      li{
        list-style: disc inside;
        line-height: 45px;
        padding-left:36px;
      }
    }
    button{
      padding:10px;
      background-color: #f0f0f0;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      margin:10px 0;
      &:hover{
        background-color: #e0e0e0;
        color:#6c6c6c;
      }
    }
    h3.sub-title{
      font-weight: bold;
      color:#f60;
      font-size: 20px;
      line-height: 2;
      margin-top:15px;
    }
    h3.title{
      background-color: #cfc;
      color:#f96;
      font-size:26px;
      border-radius: 6px;
      line-height: 2.4;
      padding-left:18px;
      margin-top:20px;
      &:first-child{
        margin-top:0
      }
    }
    pre{
      margin-top:8px;
      >code{
        padding:15px 36px;
      }
    }
    &.article{
      figure{
        margin: 8px 0;
        >img{
          display: block;
          margin: 0 auto;
          width: 96%;
          max-width: 800px;
        }
      }
    }
  }
  >div.topic-title{
    line-height: 1.5;
    font-size: 28px;
    padding: 15px 18px;
    background: #fafafa;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  >ul.article-list{
    position: relative;
    padding:0 0 0 40px;
    background-color: #f0f0f0;
    &:before{
      content: "";
      position: absolute;
      top: 25px;
      bottom:0;
      width:4px;
      left:12px;
      background: #fff;
    }
    >li{
      position: relative;
      padding:20px 20px 10px;
      margin-bottom:25px;
      background-color: #fff;
      cursor: pointer;
      border-radius: 6px;
      &:last-child{
        margin-bottom: 10px;
      }
      >h4{
        margin-bottom: 2px;
      }
      >h3{
        padding:8px;
        font-size:24px;
        color:#f96;
        background-color: #cfc;
        border-radius: 6px;
      }
      >div:nth-of-type(1){
        font-size: 18px;
        line-height: 1.8;
        padding:8px 0;
      }
      &:hover{
        filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.4))
      }
      &:before,&:after{
        content: "";
        position: absolute;
      }
      &:after{
        width: 14px;
        height: 14px;
        left: -7px;
        top: 25px;
        background: #fff;
        transform: rotate(45deg);
      }
      &:before{
        width: 16px;
        height: 16px;
        left: -34px;
        top:25px;
        background: #f96;
        border-radius: 50%;
      }
    }
  }
  >footer{
    text-align: right;
    height:60px;
    line-height: 60px;
    border-top:1px solid #dbdbdb;
    padding: 0 20px;
  }
  >ul.comments{
    background: #f0f0f0;
    padding: 10px 0;
    >li{
      padding: 15px 20px;
      background: #fafafa;
      border-bottom:1px dotted #dfdfdf;
      &:last-child{
        border-bottom-color: transparent;
      }
      >div{
        &:nth-of-type(1), &:nth-of-type(4){
          line-height: 1.5;
          margin-bottom: 8px;
          font-size: 15px;
          >span{
            margin-right: 12px;
          }
          >a{
            float: right;
            margin-right:2px;
            text-decoration: underline;
            cursor: pointer;
            &:hover{
              color: #f60;
            }
            &.reply{
              margin-right: 10px;
            }
          }
        }
        &:nth-of-type(2){
          margin-bottom: 8px;
          >a{
            color: #f60;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &:nth-of-type(3), &:nth-of-type(5){
          line-height: 1.8;
          border-radius: 4px;
          padding: 8px;
          background: #e0e0e0;
        }
        &:nth-of-type(4){
          margin-top:10px;
        }
        &:nth-of-type(5){
          position: relative;
          margin-left: 36px;
        }
      }
    }
    &.all{
      >li{
        border-bottom: 1px solid #dbdbdb;
        &:last-child{
          border-bottom-width:0;
        }
      }
    }
  }
}

.page-404{
  background: #fff;
  padding: 110px 0 150px;
  >p{
    text-align: center;
    &:nth-of-type(1){
      font-weight: bolder;
      font-size: 60px;
      line-height: 2;
    }
    &:nth-of-type(2){
      line-height: 2;
      >a{
        &:hover{
          color: #ff006a;
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .page{
    width:98%;
    >h2.title{
      padding-left:12px;
    }
  }
}

@media screen and (max-width: 530px){
  .page{
    >ul.article-list{
      padding-left: 35px;
      >li{
        padding:15px 15px 7px;
        &:before{
          left: -30px;
        }
      }
    }
    >div.content{
      padding-left:15px;
      padding-right:15px;
      pre{
        >code{
          padding:15px 24px;
        }
      }
    }
    >ul.comments{
      >li{
        padding: 12px;
      }
    }
  }
}

@media screen and (max-width: 402px){
  .page{
    >ul.article-list{
      >li{
        padding:12px 12px 6px;
      }
    }
    >div.content{
      padding-left:10px;
      padding-right:10px;
      pre{
        >code{
          padding:15px;
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .page{
    >ul.article-list{
      >li{
        padding:10px 10px 5px;
      }
    }
    >div.content{
      padding-left:6px;
      padding-right:6px;
      pre{
        >code{
          padding:8px;
        }
      }
    }
  }
}
