@import "mixin.scss";
@import 'reset.scss';
@import 'highlight.scss';
div#app-tip {
    display: none;
    position: fixed;
    z-index: 3;
    top: 60%;
    opacity: 0;
    width: 100%;
    text-align: center;
    &.active {
        display: block;
        @include dhz(tipShow, 2500ms);
        @at-root {
            @keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-moz-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-webkit-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-o-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
        }
    }
    >div {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
        color: #fff;
        border-radius: 4px;
        font-size: 18px;
        background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
    }
}

.page {
    width: 96%;
    margin: 5px auto 0;
    max-width: 1300px;
    &.article {
        background-color: #fff;
        box-shadow: 0 0 12px rgba(10, 10, 0, .2);
        margin-bottom: 10px;
        >div.content {
            figure.common {
                margin: 12px 0 8px;
                >img {
                    display: block;
                    margin: 0 auto;
                    width: 96%;
                    max-width: 800px;
                }
            }
        }
    }
    >h2.title {
        padding: 35px 24px 15px;
        border-bottom: 1px solid #ddd;
        font-size: 30px;
        font-weight: bold;
    }
    >div.content {
        font-size: 18px;
        padding: 15px 20px;
        ol,
        ul {
            li {
                text-indent: 36px;
                line-height: 1.8;
                word-wrap: break-word;
            }
        }
        strong {
            color: #f66;
            font-weight: normal;
        }
        p {
            // margin-top:20px;
            line-height: 1.8; // text-indent: 36px;
            word-wrap: break-word;
            word-break: break-all;
            hyphens: auto;
            margin: 20px 20px 0 20px;
            em {
                font-weight: bold;
            }
            i {
                color: #906;
            }
            a {
                color: #17579d;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        p.dot {
            color: #f60;
        }
        ul {
            li {
                list-style: disc inside;
                line-height: 45px;
                padding-left: 36px;
            }
        }
        button {
            padding: 10px;
            background-color: #f0f0f0;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;
            margin: 10px 0;
            &:hover {
                background-color: #e0e0e0;
                color: #6c6c6c;
            }
        }
        h3.sub-title {
            font-weight: bold;
            color: #f60;
            font-size: 20px;
            line-height: 2;
            margin-top: 15px;
        }
        h3.title {
            font-size: 22px;
            line-height: 1.5;
            padding: 5px 0px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-weight: bold;
            border-bottom: 1px dashed #eee;
            &:first-child {
                margin-top: 0
            }
            &:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                vertical-align: middle;
                margin-right: 14px;
                margin-top: -4px;
                background-color: #817c7c;
            }
        }
        pre {
            margin-top: 10px;
            margin-bottom: 10px;
            >code {
                padding: 20px;
            }
        }
    }
    >div.topic-title {
        line-height: 1.5;
        font-size: 28px;
        padding: 15px 18px;
        background: #fafafa;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    >ul.article-list {
        position: relative;
        padding-top: 8px;
        padding-bottom: 4px; // background-color: #e0e0e0;
        >li {
            position: relative;
            padding: 10px 14px;
            margin-bottom: 15px;
            background-color: #fff;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.4s ease-out;
            &:last-child {
                margin-bottom: 10px;
            }
            >h4 {
                margin-bottom: 2px;
                font-size: 14px;
                color: darken(#999, 10%);
                border-bottom: 1px dashed #e0e0e0;
            }
            >h3 {
                padding: 8px 0 4px;
                font-size: 20px;
                line-height: 1.4;
                margin-bottom: 2px;
            }
            >ul.pics{
                img{
                    max-width: 300px;
                }
            }
            >div:nth-of-type(1) {
                font-size: 15px;
                line-height: 1.7;
                color: darken(#999, 15%);
            }
            &:hover {
                box-shadow: 0 0 18px rgba(darken(#373277, 10%), 0.9);
            }
        }
    }
    >footer {
        text-align: right;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid #dbdbdb;
        padding: 0 20px;
    }
    >ul.comments {
        background: #f8f8f8; //padding: 10px 0;
        >li {
            padding: 15px 20px;
            background: #fafafa;
            border-bottom: 1px dotted #dfdfdf;
            &:last-child {
                border-bottom-color: transparent;
            }
            >div {
                &:nth-of-type(1),
                &:nth-of-type(4) {
                    line-height: 1.5;
                    margin-bottom: 8px;
                    font-size: 15px;
                    >span {
                        margin-right: 12px;
                    }
                    >a {
                        float: right;
                        margin-right: 2px;
                        text-decoration: underline;
                        cursor: pointer;
                        &:hover {
                            color: #f60;
                        }
                        &.reply {
                            margin-right: 10px;
                        }
                    }
                }
                &:nth-of-type(2) {
                    margin-bottom: 8px;
                    >a {
                        color: #f60;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &:nth-of-type(3),
                &:nth-of-type(5) {
                    line-height: 1.8;
                    border-radius: 4px;
                    padding: 8px;
                    background: #e0e0e0;
                }
                &:nth-of-type(4) {
                    margin-top: 10px;
                }
                &:nth-of-type(5) {
                    position: relative;
                    margin-left: 36px;
                }
            }
        }
        &.all {
            >li {
                border-bottom: 1px solid #dbdbdb;
                &:last-child {
                    border-bottom-width: 0;
                }
            }
        }
    }
    .article-catalog {
        position: fixed;
        top: 0;
        right: 0;
        width: 240px;
        background: #373277;
        bottom: 0;
        padding-top: 20px;
        z-index: 5;
        box-shadow: -8px 0 4px -4px rgba(0, 0, 0, 0.15);
        div {
            text-align: center;
            color: #eee;
            font-weight: bold;
            line-height: 2.0;
            margin-bottom: 10px;
        }
        li {
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 8px;
            padding: 4px 0;
            border-bottom: 1px dashed #999;
            transition: all 0.3s ease-out;
            cursor: pointer;
            color: #eee;
            &:hover {
                color: #fff;
                border-bottom-color: #fff;
            }
            &.active {
                color: #f66;
                border-bottom-color: #f66;
                >a {
                    font-weight: bold;
                }
            }
        }
    }
}

.page-404 {
    background: #fff;
    padding: 110px 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    >p {
        text-align: center;
        &:nth-of-type(1) {
            font-weight: bolder;
            font-size: 60px;
            line-height: 2;
        }
        &:nth-of-type(2) {
            line-height: 2;
            >a {
                &:hover {
                    color: #ff006a;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .page {
        width: 100%;
        >h2.title {
            font-size: 26px;
            padding-left: 12px;
        }
        &.article>div.content figure.common>img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 530px) {
    .app-wrap.has-catalog {
        padding-right: 0 !important;
    }
    .page {
        margin-top: 0;
        &.home-page {
            padding-left: 0;
            div.left-banner {
                height: 300px;
                position: static;
                width: 100%;
                transform: translateX(0);
                box-shadow: none;
                margin-bottom: 5px;
                background: linear-gradient(to bottom, rgb(23, 87, 157) 58%, #373277 0%);
                >div:nth-of-type(1) {
                    height: 20%;
                }
                >div:nth-of-type(3) {
                    display: none;
                }
                .info {
                    >div:nth-of-type(3) {
                        margin-top: -5px;
                    }
                }
                .banner-menus {
                    margin-top: 18px;
                }
            }
        }
        .article-catalog {
            display: none;
        }
        >div.content {
            padding-left: 15px;
            padding-right: 15px;
            pre {
                margin-left: 0;
                margin-right: 0;
                &.inner {
                    margin-left: 0;
                    margin-right: 0;
                }
                >code {
                    padding: 15px 18px;
                }
            }
        }
        >ul.comments {
            >li {
                padding: 12px;
            }
        }
    }
}

@media screen and (max-width: 402px) {
    .page {
        >div.content {
            padding-left: 10px;
            padding-right: 10px;
            pre {
                >code {
                    padding: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 359px) {
    .page {
        >div.content {
            padding-left: 6px;
            padding-right: 6px;
            pre {
                >code {
                    padding: 8px;
                }
            }
        }
    }
}

@media print {
    body {
        >div:nth-of-type(2) {
            div.page {
                width: 100%;
                margin: 0;
                >footer,
                >h2.title {
                    display: none;
                }
                div.content {
                    padding: 0;
                }
            }
            nav.article-nav-menu,
            >header {
                display: none;
            }
        }
        footer {
            display: none;
        }
    }
}
