#articles-page{
        .panel{
                position: relative;
        }
        .panel-title{
                position: relative;
        }
        .add-btn{
                position: absolute;
                top: 55px;
                right: 15px;
                z-index: 3;
        }
        .tab-menus{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
        }
        .search-input{
                padding-top: 12px;
                padding-bottom: 10px;
        }
        .add-modal{
                .modal-form{
                        .form-item{
                                label{
                                        width: 70px;
                                }
                                input, textarea{
                                        width: 450px;
                                        padding: 6px 12px;
                                }
                                textarea{
                                        height: 100px;
                                        background: #fafafa;
                                }
                        }
                }
        }
}