#file-center-page{
    .search-input{
        padding: 10px 0 10px 20px;
    }
    #file-picker{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        .webuploader-pick{
            background: lighten(#646f86, 10%);
            &:hover{
                background: #646f86;
            }
            +div{
                right: 0;
                bottom: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    .modal-content{
        max-height: 240px;
        overflow-y: auto;
    }
    .link-content{
        padding: 15px 12px;
        text-decoration: underline;
        &:hover{
            color: #f66;
        }
    }
    td>img{
        max-width: 150px;
    }
    .file-list{
        padding: 0 12px;
        li{
            display: flex;
            flex-direction: row;
            border-bottom: 1px dotted #ccc;
            line-height: 36px;
            >div{
                &:nth-of-type(1){
                    flex: 1;
                    text-align: left;
                }
                &:nth-of-type(2){
                    flex: none;
                    width: 100px;
                    text-align: right;
                }
                &:nth-of-type(3){
                    flex: none;
                    width: 90px;
                    text-align: right;
                }
            }
        }
    }
}