#login-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: 100% 100%;
    overflow: hidden !important;
    padding: 0 !important;
    .dialog {
        position: relative;
        width: 500px;
        height: 400px;
        z-index: 2;
        margin-right: 10%;
        background: rgba(#373277, 0.5);
        background-size: 100% 100%;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.8s ease-out;
        opacity: 0;
        transform: translateY(200px);
        border: 2px solid #f0f0f0;
        border-radius: 10px;
        &.active {
            opacity: 1;
            transform: translateY(0px);
        }
        >.form {
            display: block;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >h1 {
                color: #f0f0f0;
                font-size: 34px;
                letter-spacing: 2px;
                font-weight: bold;
                margin-bottom: 35px;
            }
            >div.lock,
            >div.person {
                >input {
                    width: 390px;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 33px;
                    box-sizing: border-box;
                    background-color: #f8f4f4;
                    font-size: 15px;
                    color: #4d4d4d;
                    font-weight: bold;
                    border-radius: 26px;
                }
            }
            >div.lock {
                margin-top: 20px;
            }
            >input.btn,
            >div.btn {
                display: block;
                height: 52px;
                width: 392px;
                font-size: 16px;
                border-radius: 30px;
                text-align: center;
                line-height: 52px;
                color: #fff;
                background: linear-gradient(to right, lighten(#373277, 25%), darken(#373277, 10%));
                letter-spacing: 2px;
                cursor: pointer;
                outline: none;
                margin-top: 30px;
            }
        }
    }
    .sky-bg{
        position: absolute;
        z-index: 0;
    }
    div.info {
        opacity: 0;
        transform: translateY(-5px);
        position: absolute;
        color: #ff6666;
        font-size: 15px;
        bottom: 10px;
        left: 50px;
        transition: all 0.3s;
        &.active{
            opacity: 1;
            transform: translateY(0);
        }
    }
    footer {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 20px;
        text-align: center;
        font-size: 14px;
        color: #f9f9f9;
    }
}