@import "../common/common.scss";
@import "./css.scss";
@import "./canvas.scss";
@import "./resume.scss";

header{
  position: relative;
  height: 188px;
  background: url('/static/assets/header-bg.jpg');
  transition: opacity 0.3s;
  opacity: 0;
  >div.wrap,>nav>ul{
    width:96%;
    max-width: 1600px;
    margin:0 auto;
  }
  >div.wrap{
    height:100%;
    padding:32px 10px;
  }
  div.logo{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border:2px solid #ddd;
    float:left;
    @include img("/static/assets/header.jpg",100% 100%)
  }
  div.title{
    width:265px;
    float:left;
    margin-left:20px;
    >h1{
      height:50px;
      line-height:50px;
      font-size:48px;
      color:#fff;
    }
    >h2{
      line-height:38px;
      font-size:16px;
      color:#ddd;
    }
  }
  >nav{
    position: absolute;
    bottom:0;
    height:55px;
    width:100%;
    line-height:55px;
    font-size:18px;
    background: rgba(0,0,0,0.08);
    ul{
      li{
        float: right;
        a{
          display: block;
          padding:0 30px;
          color:#ddd;
          transition: color 0.25s, background 0.5s;
          &:hover,&.active{
            background-color: #036;
            color:#fff;
          }
        }
      }
    }
    &.fixedTop{
      position: fixed;
      top:0;
      background: rgba(0,51,102,0.8);
      z-index:990;
    }
  }
}

footer{
  text-align: center;
  font-size:16px;
  line-height:40px;
  color:#817c7c;
  transition: opacity 0.3s;
  >a{
    color:#817c7c;
    &:hover{
      color:#f60;
      text-decoration: underline;
    }
  }
}

nav.side-menu{
  display: none;
  position: fixed;
  top:0;
  left:-260px;
  bottom:0;
  width:260px;
  background: rgba(0,0,0,0.6);
  transform: translate3d(0,0,0);
  transition:transform 0.8s ease-out;
  &.active{
    transform: translate3d(260px,0,0);
  }
  >ul{
    padding-top:42px;
    >li{
      line-height: 45px;
      color:#fff;
      >a{
        display: block;
        padding-left:24px;
      }
    }
  }
}

div.side-menu-icon{
  display: none;
  position: fixed;
  top:10px;
  right:10px;
  width:30px;
  height:28px;
  padding:4px;
  background: url("/static/assets/menu.png") 4px 4px no-repeat ;
  cursor: pointer;
  &.fixedTop{
    border:1px solid #e0e0e0;
    border-radius: 4px;
    z-index:990;
  }
}

.article-nav-menu{
  position: fixed;
  width:40px;
  bottom:10%;
  right:10px;
  >a{
    position: relative;
    display: block;
    margin:8px auto 0;
    width:40px;
    height:40px;
    border-radius: 4px;
    background: rgba(23,87,157,.8) url("/static/assets/back.png") 13px 13px no-repeat;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    transition: 0.3s background-color;
    &:first-child{
      margin-top:0;
    }
    &:hover{
      background-color: rgba(255,106,106,0.8);
    }
    &.next{
      transform: rotate(180deg);
    }
    &.note{
      background-image: url("/static/assets/edit.png");
    }
  }
}

.fade-enter-active, .fade-leave-active{
  transition: opacity .3s ease-out, transform .3s ease-out
}
.fade-enter, .fade-leave-active {
  opacity: 0.3
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 0.25s ease-out;
  >div{
    max-width:600px;
    width: 96%;
    background-color: #fff;
    margin:3% auto 0;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: transform .5s ease-out;
    transform: translate(0,-30%);
    >h3{
      height:50px;
      line-height: 50px;
      background-color: #003366;
      padding-left:20px;
      font-size:16px;
      color:#fff;
      >span{
        float: right;
        margin-right:10px;
        color:#ccc;
        &:hover{
          cursor: pointer;
          color:#eee;
        }
      }
    }
    >div.footer{
      height:60px;
      border-top:1px solid #d9d9d9;
      text-align: right;
      line-height:60px;
      >a{
        padding: 10px 18px;
        border-radius: 4px;
        cursor: pointer;
        margin-right:15px;
        @include transition(all 0.3s);
        &.cancel{
          background-color: #ddd;
          color: #999;
          &:hover{
            background-color: #aaa;
            color:#666;
          }
        }
        &.ok{
          background-color: rgb(23,87,157);
          color:#fff;
          &:hover{
            background-color: #003366;
          }
        }
      }
      &>span.tip{
        display: none;
        float: left;
        padding-left: 20px;
        color: #ff6666;
        font-weight: bold;
        &.ok{
          color:#00aa00;
        }
      }
    }
    >div.content{
      margin: 8px;
      padding: 10px 15px;
      background: #eee;
      border-radius: 4px;
      >div{
        &:first-child{
          margin-bottom: 8px;
        }
        >input,>textarea,>label{
          float: left;
        }
        >label{
          display: inline-block;
          width: 120px;
          text-align: right;
          line-height: 32px;
        }
        >input,>textarea{
          padding: 6px 8px;
          width: 350px;
        }
        >textarea{
          height: 90px;
          resize: none;
        }
      }
    }
  }
  &.active{
    opacity: 1;
    >div{
      transform: translate(0,0);
    }
  }
  &.loading{
    >div>div.page-mask{
      display: block;
    }
  }
}

.confirm-del-comment{
  .content>div{
    margin-top: 8px;
    color: #f60;
  }
}

.page-mask{
  display: none;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(0,0,0,0.3);
  >div{
    position: absolute;
    width: 70px;
    height: 60px;
    top:50%;
    left:50%;
    margin-left:-35px;
    margin-top:-30px;
    text-align: center;
    font-size: 10px;
    >i{
      display: inline-block;
      background-color: #fff;
      height: 100%;
      width: 6px;
      -webkit-animation: loading-ani 1.2s infinite ease-in-out;
      animation: loading-ani 1.2s infinite ease-in-out;
      margin-left:8px;
      border-radius: 6px;
      &:nth-of-type(1){
        margin-left:0;
      }
      &:nth-of-type(2){
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      &:nth-of-type(3){
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      &:nth-of-type(4){
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      &:nth-of-type(5){
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }
    }
  }
}

@-webkit-keyframes loading-ani{
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes loading-ani{
  0%, 40%, 100%{
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20%{
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media screen and (min-width: 1390px) {
  .article-nav-menu{
    // right:calc((100% - 1280px) / 2 - 50px )
    right: 20px;
  }
}

@media screen and (max-width: 530px){
  header{
    height:143px;
    >nav{
      display: none;
    }
    >div.wrap{
      width:98%;
    }
  }
  div.side-menu-icon,nav.side-menu{
    display: block;
  }
}

@media screen and (max-width: 402px){
  header{
    div.title{
      margin-left:6px;
      width:245px;
      >h2{
        font-size:15px;
      }
    }
    >div.wrap{
      padding-left:6px;
      padding-right:6px;
    }
  }
}

@media screen and (max-width: 359px) {
  header {
    div.title {
      margin-left:4px;
      width:210px;
      >h2{
        font-size:13px;
      }
    }
    >div.wrap{
      padding-left:4px;
      padding-right:4px;
    }
  }
}

// note wrap
@media screen and (max-width: 585px){
  .note-wrap{
    >div{
      >div.content{
        >div{
          >label{
            width: 105px;
          }
          >input,>textarea{
            width: calc(100% - 130px)
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px){
  .note-wrap{
    >div{
      >div.content{
        >div{
          >label{
            display: block;
            text-align: left;
            float: none;
            width: 105px;
          }
          >input,>textarea{
            float: none;
            width: 95%;
          }
        }
      }
    }
  }
}
