$themeColor: #646f86;
//$highlightColor:#006699;
$highlightColor: #646f86;
$orange: #eea236;
$paleBlue: #d9edf7;
$borderColor: hsl(200, 69.2, 80);
$grayBlue: #dff0d8;
$canaryYellow: #fcf8e3;
$red: #f66;
$green: #5cb85c;

$btn_default: #646f86;
$btn_default_hover: #e8ecf5;
$btn_fill: rgb(100,111,134);
$btn_fill_hover: rgba(100,111,134,.8);
$btn_empty_hover: #e8ecf5;
$btn_green: rgba(40,189,75,0.8);
$btn_green_hover: rgba(40,189,75,1);
